.dropdown .capitalizeText {
  font-size: 18px;
  margin-top: 3px;
  padding-left: 3px;
  height: 24px;
  width: 15px;
  border-radius: 15px;
  border: none;
  background-color: #1479ec;
  font-family: "Rubik", sans-serif;
}
